*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: 0px auto;
  inline-size: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-end;
}

.result__video-container {
  block-size: 386px;
  inline-size: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  inline-size: fit-content;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid #FFF;
}

.search-form__textfield {
  min-inline-size: 225px;
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list span {
  display: block;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  background: #fff;
  inset: 1px;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  border: 1px solid #FFF;
  cursor: pointer;
  padding: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.content__details {
  max-block-size: 100%;
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, 'Arial', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-block-size: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list-item {
  block-size: 107px;
  inline-size: 394px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  display: block;
  padding: 2px;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex: 1 0 auto;
}

.content__video-card-title {
  font-family: Oswald, 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 182px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  block-size: 34px;
  inline-size: 99%;
  margin: 2px;
}